<section id='personal_info'>
    <img src='<%- image_avatar %>' class='avatar' alt='author_picture'>
    <section>
        <div class="reader">
            <p id='name'><%- quote.name %></p>
            <p id='bio'><%- quote.bio %></p>
            <p id='tags'><%- quote.tags %></p>
        </div>
    </section>
</section>
